.typing-indicator .dot-1,
.typing-indicator .dot-2,
.typing-indicator .dot-3 {
    display: inline-block;
    opacity: 0;
    animation: blink 1s infinite;
}

.typing-indicator .dot-2 {
    animation-delay: 0.2s;
}

.typing-indicator .dot-3 {
    animation-delay: 0.4s;
}

@keyframes blink {
    0%, 20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
