@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply text-white py-2 px-4 rounded hover:bg-gray-600;
}

.loader {
  border-top-color: #3498db;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}